<!DOCTYPE html>
<html>
  <head>
    <title>Awake!</title>
    <!-- SEO -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css"
    />
    <meta name="description" content="Keep your sites online!" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="siimple-navbar siimple-navbar--primary siimple-navbar--fluid">
      <a class="siimple-navbar-title">Awake!</a>
      <div class="siimple--float-right">
        <a class="siimple-navbar-item">Submit</a>
        <a class="siimple-navbar-item">Remove</a>
        <a class="siimple-navbar-item">About</a>
      </div>
    </div>
    <center>
      <div
        class="siimple-jumbotron siimple-jumbotron--primary siimple-jumbotron--fluid"
      >
        <div class="siimple-jumbotron-title">
          Awake - The Original Autopinger, Built for Glitch
        </div>
        <div class="siimple-jumbotron-subtitle">
          Just add your url to have your project online 24/7!
        </div>
        <div class="siimple-jumbotron-detail">
          <form action="/addurl" onsubmit="return(validate());">
            <input
              name="url"
              type="text"
              maxlength="100"
              id="input_url"
              placeholder="https://www.example.com"
              aria-labelledby="submit-dream"
              required
            />
            <button type="submit" id="submit-dream">Submit URL</button>
          </form>
        </div>
      </div>
    </center>
  </body>
</html>
